html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.links > a {
  color: #636b6f;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: .3rem;
  text-decoration: none;
  text-transform: lowercase;
}

.m-b-md {
  margin-bottom: 30px;
}

footer{
  background: #e3e3e3;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 6rem;
  letter-spacing: .3rem;
  text-transform: lowercase;
  border-bottom: 2px solid;
  padding: 12px 0;
  color: #333;
}

.wrapper{
  max-width: 1140px;
  padding: 10px;
  margin: 20px auto;
}

.main-img {
  width: 50%;
  height: 50%;
}


/* stack create form */

.create-stack{
  background: #f7f7f7;
  padding: 10px;
  text-transform: lowercase;

  h1{
    font-size: 3rem;
    font-weight: 100;
  }

  label, select{
    width: 500px;
  }

  label{
    margin-top: 10px;
    margin-left: auto;
  }

  input{
    margin-top: 10px;
    width: 200px;
  }

  select{
    padding: 8px;
    width: 900px;
    padding-bottom: 1rem;
  }

  input[type=submit]{
    background: #333;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
  }
  
  fieldset {
    padding-top: 1rem;
    border: 0;
    text-align: left;
  }

}

/* (single project listing page) */

.stack-details{
  background: #f7f7f7;
  padding: 20px;

  h1 {
    font-size: 3rem;
  }

  p{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 100;
  }
  
  button{
    background: green;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
  }
}

a.back{
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #333;
  margin-bottom: 20px;
}

/* stack index (list projects page) */

.stack-index{
  h1{
    margin-bottom: 40px;
  }
  .stack-item{
    margin: 10px 0;
    padding: 12px;
    background: #f4f4f4;
    img{
      width: 60px;
      display: inline-block;
    }
    h4{
      display: inline-block;
      font-weight: 100;
      font-size: 2rem;
      margin-left: 2rem;
      a{
        color: #777;
        text-decoration: none !important;
      }
    }
  }
}